/* BODY */

*{
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}


/* HEADER */


header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #000;
  opacity: 0.75;
}

header .header-left a {
  margin-right: 15px;
}

header .header-right {
  display: flex;
  align-items: center;
}

header .header-right a, 
header .header-right button {
  margin-left: 15px;
  cursor: pointer;
}

header .header-right .button-apps {
  background-color: transparent;
  border: none;
  padding: 10px;
}

header .header-right .button-apps svg {
  width: 24px;
  height: 24px;
}

header .header-right .button-signin {
  background-color: #4285f4;
  border: 1px solid #4285f4;
  color: #fff;
  font-weight: 600;
  padding: 0 12px;
  line-height: 36px;
  border-radius: 2px;
  font-size: 16px;
}

/* MAIN */

main {
  padding-top: 160px;
}

main > div {
  margin: 0 auto;
  width: 600px;
  text-align: center;
}

main .logo {
  margin-bottom: 24px;
}

main .logo img {
  height: 115px;
}

.search-bar {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  transition: all .2s;
}

.search-bar:hover {
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.search-bar svg {
  width: 26px;
  height: 26px;
  fill: #9AA0A6;
}

.search-bar input {
  height: 48px;
  padding: 0 15px;
  width: 90%;
  border: none;
}

.search-bar input:focus {
  outline: none;
}

.search-bar img {
  width: 26px;
  height: 26px;
}

.search-bottom {
  margin-top: 26px;
}

.search-bottom button {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  padding: 12px 24px;
  color: #5F6368;
  font-size: 16px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .4s;
}

.search-bottom button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  border: 1px solid #c6c6c6;
  background-color: #f8f8f8;
}

/* FOOTER */

footer {
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e4e4e4;
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 16px;
}

footer a {
  text-decoration: none;
  color: #5f6368;
  font-family: sans-serif;
  font-size: 14px;

}

footer .footer-left a,
footer .footer-right a {
  margin-left: 20px;

}